.greenSpace{
    margin: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    animation: slideInUp 0.8s ease forwards; 
}
@keyframes slideInUp {
    from {
      transform: translateY(100%); /* Start from below */
      opacity: 0; /* Fully transparent */
    }
    to {
      transform: translateY(0); /* End in place */
      opacity: 1; /* Fully opaque */
    }
  }
.greenSpaceLeft{
    width: 60%;
}
.greenSpaceRight{
    width: 30%;
}